.card {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

.card-header {
    font-weight: bolder;
}

.result-1 {
    margin-left: 40px;
}

.result-2 {
    margin-left: 40px;
}

.result-3 {
    margin-left: 40px;
}
